**/.venv/
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.mypy_cache/
**/.pytest_cache/
**/.tox/
**/.coverage
**/htmlcov/
**/.env
**/.env.*
**/.venv*/
**/env/
**/venv*/
**/ENV/
**/pip-wheel-metadata/
**/dist/
**/build/
**/eggs/
**/parts/
**/sdist/
**/develop-eggs/
**/.eggs/
**/.hypothesis/
**/.ropeproject/
**/.idea/
**/.vscode/
**/.mvn/wrapper/maven-wrapper.jar
**/target/
**/chroma_db/
**/test/
**/uploads/

